#dofus-maps-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    z-index: 99999;
    left: -5px;
    bottom: -5px;
    height: 15%;
    width: 30%;
    background-color: white;
}

.dofus-maps-menu-child{
    background-color: black;
    height: 100%;
    width: 20%;
}

#dofus-maps-directions{

}